@font-face {
font-family: "Nordic";
src: url('fonts/PTF-NORDIC-Rnd-Lt.ttf'); }


p {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 1.5em;
	padding-left: 20%;
	width: 80%;
	display: inline-block;
}

a {
	text-decoration: none !important;
}

body .jumbotron {
	margin: 0px;
	padding: 0px;
}

.jumbotron img {
	width: 100%;
}

#jumbo {
	height: 100vh;
}

.navbar {  
	font-family: "Nordic", Arial;
	font-size: 3em;
	text-align: center;
}