@import url('https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');
@font-face {
font-family: "Nordic";
src: url('fonts/PTF-NORDIC-Rnd-Lt.ttf'); }

.content img {
	margin: auto;
	margin-left: 25%;
	position: relative;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
 }

p {
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 1.5em;
	padding-left: 20%;
	width: 80%;
	display: inline-block;
}

h3 {
	font-family: Arial, sans-serif;
	text-align: center;
	padding-left: 20%;
	width: 80%;
	display: inline-block;
}

.navbar .topnav a {
	text-decoration: none;
	color: #38B4D6;
}

.navbar .topnav a:hover {
	color: #017479;
}

.navbar a#highlight {
	/*background-color: #ECF7F9;
	padding: 32px 0px 33px 0px;*/
	color: #017479;
}

body .jumbotron {
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.jumbotron img {
	width: 100%;
}

#jumbo {
	height: 100vh;
}

.navbar {  
	font-family: "Nordic", Arial;
	font-size: 3em;
	text-align: center;
}

.content1 {
	padding-top: 20px;
	background-color: #ECF7F9;
	padding-bottom: 20px;
}

.content1 p, .content1 h3 {
	color: #4D4D4D;
}

.content2 {
	padding-top: 20px;
	background-color: #B1DFE7;
	padding-bottom: 20px;
}

.content2 p, .content2 h3 {
	color: #4D4D4D;
}

.content3 {
	padding-top: 20px;
	background-color: #76C7D5;
	padding-bottom: 20px;
}

.content3 p, .content3 h3 {
	color: #4D4D4D;
}

.content4 {
	padding-top: 20px;
	background-color: #3CAFC3;
	padding-bottom: 20px;
}

.content4 p, .content4 h3 {
	color: #FFFFFF;
}

.content5 {
	padding-top: 20px;
	background-color: #308C9C;
	padding-bottom: 20px;
}

.content5 p, .content5 h3 {
	color: #FFFFFF;
}

.content6 {
	padding-top: 20px;
	background-color: #246975;
	padding-bottom: 20px;
}

.content6 p, .content6 h3 {
	color: #FFFFFF;
}

.sw1 img {
	width: 15%;
	left: 0;
	bottom: 0;
	position: fixed;
}

.sw2 img {
	width: 15%;
	right: 0;
	bottom: 0;
	position: fixed;
}
